.success {
    color: green;
    border: 2px solid green;
    background-color: lightgreen;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .error {
    color: red;
    border: 2px solid red;
    background-color: lightpink;
    padding: 10px;
    margin-bottom: 10px;
  }